@font-face {
  font-family: 'Montserrat';
  src: url('./assets/Fonts/Montserrat/static/Montserrat-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Didot';
  src: url('./assets/Fonts/didot-2/Didot.otf') format('opentype');
}


@font-face {
  font-family: 'Montserrat-Italic';
  src: url('./assets/Fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('./assets/Fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  src: url('./assets/Fonts/avenir-lt-pro/AvenirLTProBlack.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir-thin';
  src: url('./assets/Fonts/avenir-lt-pro/AvenirLTProLight.otf') format('opentype');
}


::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Scrollbar track (background) */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #7a7a7a; /* Scrollbar thumb (the handle) */
  border-radius: 5px;
  border: 2px solid #f0f0f0; /* Optional: adds spacing around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000; /* Thumb color when hovered */
}

::-webkit-scrollbar-corner {
  background-color: #f0f0f0; /* For scrollbars on both axes */
}

body{
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  width: 100%;
}

.h-clothingpage{
  max-width: fit-content;
  align-items: center;
}
/* Header region css - Start */
.sectionheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #FFFFFF;
  height: 64px;
}
.companyname{
  font-family: 'Didot' !important;   
  padding-top: 10px;
  font-size: 24px;
  letter-spacing: 1px;
  color: #000; /* Black text color */
  text-transform: uppercase;
  position: relative;
}
.left-icons {
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px; /* Space between the hamburger and search icons */
}
.hamburgermenu,
.usericon{
  display: flex;
  align-items:center;
  height: 40px;
  color: #fff; /* White text/icon color */
  border-radius: 50%; /* Circular shape */
  cursor: pointer;
}
.searchicon{
  display: flex;
  width: 38px;
  height: 38px;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-box {
  width:250px;
  display:flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.search-box img {
  width: 40px;
  height: 40px;
}
.search-box input {
  width: 100%;
  padding: 8px 12px 8px 12px;
  font-size: 16px;
  border-bottom: 1px solid #333333;
  outline:#333333;
  font-family: Avenir-thin;
}
.hamburgermenu:hover {
  color: #C8A165;
}
.hamburgermenu::after {
  content: 'Menu'; /* Hamburger menu icon (Unicode) */
  font-size: 18px;
  color: #C8A165;
}
.usericon img {
  width: 42px;
  height: 42px;
}
header .spacer {
  flex-grow: 1;
}
.menu-container {
  position: relative;
}
.dropdown-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 250px;
  background-color: #fdf6e3;
  transform: translateX(-100%);
  transition:cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  z-index: 1000;
  border-radius: 30px;
}
.dropdown-menu.active {
  transform: translateX(0);
  top: 50px;
  left: 60px;
}
.close-icon {
  cursor: pointer;
  padding: 15px;
  size: 10px;
  font-size: 10px;
  text-align: right;
  border-radius: 50%;
}
.menu-items {
  list-style: none;
  padding: 20px;
  margin: 0;
  font-family: Montserrat;
  font-weight: bold;
}
.menu-items li {
  margin: 10px 0;
  opacity: 50%;
}
.menu-items a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 20px;
} 
.contact {
  margin-top: 30px;
  padding: 20px;
  font-size: 16px;
  color: #333;
  font-family: Montserrat;
  font-weight: bold;
}
.contact strong {
  display: block;
  font-weight: bold;
}
.contact p {
  font-weight:100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Header region css - End */

/* Trending-Product region css - Start */
.carousel-container {
  position: relative;
  width: 100%;
  max-height: 700px;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}
.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-slide {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
}
.carousel-slide img {
  width: 100%;
  display: block;
}
/* Navigation Buttons */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}
.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.carousel-btn.left {
  left: 10px;
}
.carousel-btn.right {
  right: 10px;
}
/* Indicators */
.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.carousel-indicator {
  width: 10px;
  height: 10px;
  background-color: lightgray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.carousel-indicator.active {
  background-color: black;
}
/* Trending Product region css - End */

/* Shop by Section region css - Start */
.shop-by-section {
  font-family: Montserrat-Thin;
  margin: 0;
  padding: 0;
  text-align: center;
}
.shop-by-section h1 {
  font-size: 3em;
  margin: 20px 0;
}
.sections-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  padding: 20px;
}
.div-section {
  width: 250px;
  height: 250px;
  top: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
} 
.div-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.section-text {
  position: absolute;
  font-family: Montserrat-Thin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 0.75em;
}
.div-section:hover {
  transform: scale(1.05);
}
.div-section:hover img {
  filter: brightness(70%);
}
.div-section:hover .section-text {
  color: whitesmoke;
}
/* Shop by Section region css - End */

/* Gender Button region css - Start*/
.gender-button{
  display: flex;
  font-family: Montserrat-Thin;
  gap: 100px;
}
.men-button{
  align-items: center;
  background-color: #000;
}
.women-button{
  align-items: center;
  background-color: #000;
}
.women-button:hover{
  background-color: #FADADD;
  color: #000;
}
.men-button:hover{
  background-color: #89CFF0;
  color: #000;
}
/* Gender Button region css - End*/

/*Overall filter and product dashboard*/
.landing-dashboard {
  background-color: white;
  overflow-y: auto;
}
.filter-column{
  border-radius: 0 0 0 8px;
  height: 90vh;
  overflow-y: auto;
}
.filter-title{
  font-family: 'Montserrat';
   text-transform: 'capitalize'; 
   color: '#000000';
}
.filter-dropdown {
  max-width: 100%;
  max-height: 500px;
  border-radius: 4px;
  font-family: Avenir-Thin;
}
.filter-dropdown p {
  margin: 0;
  text-transform: capitalize;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-color: #333;
  color: '#000000';
  font-family: 'Avenir'
}
.filter-dropdown
 p:after {
  content: '>';
  font-size: 1px;
  margin-left: auto;
  transition: transform 0.3s ease;
}
.filter-dropdown
 p.collapsed:after {
  transform: rotate(-90deg);
  
  /* Rotate arrow when collapsed */
}
/* Container for the grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #FFFFFF;
}
.product-card {
  background: #FFFFFF;
  transition: transform 0.2s;
  cursor: pointer;
}
.product-image-div {
  margin-bottom: 12px;
  padding: 10px;
}

.product-image{
  aspect-ratio: 1/1;
  object-fit: cover;
}
.product-name {
  font-size: 1em;
  font-weight: bold;
  margin: 8px 0;
  font-family: Montserrat-Thin;
  color: #000;
}
.product-description {
  font-size: 1em;
  margin: 8px 0;
  font-family: Montserrat-Italic;
  color: #333;
}
/* Product price */
.product-price {
  font-size: 1em;
  color: crimson;
  font-family: Montserrat-Thin;
}

.carousel-container {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 0px 0px 8px 0;
}

.carousel-slide {
  text-align: center;
}

.carousel-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 12px;
  border-radius: 30px;
}

.carousel-title {
  margin-top: 8px;
  font-size: 1.2em;
  color: #000000;
  font-family: 'ablation';
}

.filter-options {
  margin-top: 5px;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 5px;
  cursor: pointer;
}
.filter-options label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 14px;
}
.filter-options input[type="checkbox"] {
  margin-right: 10px;
}
.filter-options span.count {
  margin-left: auto;
  color: #888;
  font-size: 12px;
}
.filter-options::-webkit-scrollbar {
  width: 5px;
}
.filter-options::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px;
}
.collections {
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
}
.collections ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.collections li {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #333;
}
.collections input[type="checkbox"] {
  margin-right: 10px;
}
.collections span {
  margin-left: auto;
  color: #000000;
  font-weight: light;
  font-size: 12px;
}

h2 {
  font-size: x-large;
  font-family: dealing;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-form {
  background: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-form h2 {
  margin-bottom: 1rem;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.b-e,.b-d{
  padding: 0;
  font-size:small;
  font-weight: 600;
}

.b-d:hover{
  background-color: rgb(179, 1, 1);
}

.bgTrans{
  background-color: #000000da;
  z-index: 999;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}

.search-bar {
  width: 100%;
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dashboard-sections {
  display: grid;
  grid-template-columns: 0.6fr 2fr;
  padding: 5px;
}
.filter {
  background-color: #E5E5E5;
  border-radius: 0 0 0 8px;
  position: sticky;
  padding: 20px;
}

.add-product{
  padding-right: 5px;
  border-right: 1px solid black;
}

.section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.customer-list {
  grid-column: 1 / -1;
}

li {
  cursor: pointer;
}

/* product-card page */
.showproduct{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto;
  background-image: url(C:\Users\akash\OneDrive\Documents\GitHub\ecom-frontend\src\assets\bgs\Chaotic20-%2010.jpg);
}
.productimage-container{
  max-width: 100%;
  max-height: 100%;
}

.product-texts {
  display: block;
  padding: 100px;
  margin: 100px;
  align-items: center;
}
